<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
    <link rel="stylesheet" href="/styles/styler.css">
</head>
<body>
    <div>
        <a class="home"  href="/">Back to Home</a>
    </div>
    <h1>All Users</h1>
    <div class="users">
        <% users.forEach(function(user){ %>
            <div class="user">
                <div class="image">
                    <img src="<%= user.image %>" alt="">
                </div>
                <h3><%= user.name %></h3>
                <h5><%= user.email %></h5>
                <div class="other">
                    <a class="other1" href="/edit/<%= user._id %>">Edit User</a>
                    <a class="other2" href="/delete/<%= user._id %>">Delete User</a>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>
